# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
MONGODB_URI=
MONGODB_LOCAL_URI=
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=hbsxsxtjsyxxhejid77472bbjxjdjdbns83876252snsnksn821929nsnsnsmskssnnJDJNN

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-actual-gmail@gmail.com   # the gmail account you generated the app password from
SMTP_PASS=xxxx xxxx xxxx            # the 16-character app password from Google
SMTP_FROM=your-actual-gmail@gmail.com